.vscode/
.git/
.github/
deploy/
infrastructure/
.gitignore
README.md
.venv
mediafiles/
staticfiles/
.env/
.env
docker-compose.yml
.flake8
.gitignore
.prettierignore
.shellcheckrc
.yamllint.yaml
__pycache__/
.ruff_cache/
.terraform/
eaubbies/src/data/