{% extends 'core.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Frames</h5>
            <hr class="my-0">
            <div class="card-body">


                <form action="/save_config" method="post">
                    <div class="row">
                        <small class="text-light fw-medium d-block pt-3">Azure Vision config</small>
                        {% include 'config/config-azure-vision.html' %}
                        <small class="text-light fw-medium d-block pt-3">RTSP config</small>
                        {% include 'config/config-rtsp.html' %}
                        <small class="text-light fw-medium d-block pt-3">MQTT config</small>
                        {% include 'config/config-mqtt.html' %}
                        <small class="text-light fw-medium d-block pt-3">Cron config</small>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="cron_time">Cron Time:</label>
                            <select class="form-control" id="cron_time" name="cron_time">
                                <!-- Generate options for every 10-minute interval -->
                                {% for hour in range(0, 24) %}
                                {% for minute in range(0, 60, 10) %}
                                {% set time_value = '%02d:%02d' % (hour, minute) %}
                                <option value="{{ time_value }}" {% if time_value==config['service']['cron']
                                    %}selected{% endif %}>{{
                                    time_value }}</option>

                                {% endfor %}
                                {% endfor %}
                            </select>
                        </div>


                        <div class="mt-2">
                            <input type="submit" value="Save config" class="btn btn-primary me-2">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}